:root {
    --fontmain: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 27%;
    background-image: url(../images/wallpapers/cinema1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* efecto */
}

#header_inicio {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#brand {
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 238, 0), 0 0 5px rgb(0, 0, 0);
}

body {
    font-family: var(--fontmain);
    text-shadow: -1px 1px 4px #000000;
    background-color: #000000;    
}

nav {
    height: 5rem;
}

.navbar {
    /* background-image: linear-gradient(#230808, #000000, #000000); */
    background-image: url(../images/wallpapers/cinema1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* efecto */
    border-bottom: 0.1rem solid #161616;
}

.slide img {
    height: 65vh;
}

.carousel-inner {
    text-align: center;
}

.content {
    margin-bottom: 5rem;
    
    background-image: url(../images/wallpapers/cinema1.jpg);
    backdrop-filter: blur(5px);
}

.content::before {
    content: "";
    position: fixed;
    z-index: -1;

    background-image: url(../images/wallpapers/cinema1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 105%;

    filter: blur(5px);
}

#ranking {
    width: 100%;
    height: 240%;
    margin-bottom: 7rem;
    padding-top: 3rem;
    color: #cacaca;
    /* background: rgb(10, 10, 10); */
}

.ranking-body:hover img {
    box-shadow: -2px 4px 10px 8px rgba(255, 255, 255, 0.217);

}

.img-fluid {
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 69%);
    transition: .3s ease-out;
}

#puntaje {
    color: #cacaca;
    background-image: linear-gradient(#6b0808ab, #6b0808, #6b0808ab);
    width: 3rem;
    height: 1.5rem;
	border-radius: 0.3rem;
	position: absolute;
	right: 10px;
	top: 10px;
}

#cant_criticas {
    color: rgba(255, 255, 255, 0.742);
	border-radius: 0.3rem;
	position: absolute;
	left: 10px;
	top: 10px;
}

#titulo {
    color: #cacaca;
}

footer {
    height: 6rem;
    background-color: #000000;
    border-top: 0.1rem solid #161616;
}

.carousel-inner, h1 {
    color: #fff;
    text-shadow: -2px 2px 2px #000000;
}

.carousel-inner, h2 {
    color: rgba(255, 255, 255, 0.807);
    text-shadow: -2px 2px 2px #000000;
}

/* -------------------------------------------------- */

.directores-body, a {
    color: rgba(255, 255, 255, 0.807);
    text-shadow: -2px 2px 2px #000000;
}

.directores-body a:hover {
    color: rgba(255, 255, 255, 0.483);
    text-shadow: -2px 2px 2px #000000;
}

.directores-body img {
    max-width: 150px;
    max-height: 150px;
}

/* -------------------------------------------------- */

.actores-table thead {
    background-color: #111111;
    color: #ffffff;
}

.table > :not(:first-child) {
    border-top: 2px solid #848484;
}

.actores-table tbody {
    background-color: #181818eb;
    border-color: rgb(86, 86, 86);
    border-style: solid;
    border-width: 0;
}

.actores-table img {
    width: 48px;
    height: 48px;
}

.actores-table a {
    color: rgba(255, 255, 255, 0.807);
    text-shadow: -2px 2px 2px #000000;
}

.actores-table a:hover {
    color: rgba(255, 255, 255, 0.483);
    text-shadow: -2px 2px 2px #000000;
}


