:root {
    --fontmain: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 27%;
    background-image: url(../images/wallpapers/cinema1.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; /* es para que no se repita la imagen cuando no llega a cubrir todo el tamaño, pero si le damos un background-size: cover; esto se soluciona, porque pasa a expandirse y ocupar todo el tamaño que pueda */
    background-position: center;
    background-attachment: fixed; /* efecto */
}

#header_inicio {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

body {
    font-family: var(--fontmain);
}

nav {
    height: 5rem;
}

.navbar {
    background-image: linear-gradient(#230808, #000000, #000000);
}

.slide img {
    height: 65vh;
}

.carousel-inner {
    text-align: center;
}

#section_blog {
    background-image: radial-gradient(rgba(42, 10, 10, 0.980), #1a0606, #000000);
}

#ranking {
    height: 50px;
    margin-bottom: 2px;
    padding-top: 4px;
    color: #cacaca;
}

#puntaje {
    color: #cacaca;
    background-image: linear-gradient(#6b0808ab, #6b0808, #6b0808ab);
    width: 3rem;
    height: 1.5rem;
	border-radius: 0.3rem;
	position: absolute;
	right: 10px;
	top: 10px;
}

#cant_criticas {
    color: rgba(255, 255, 255, 0.742);
	border-radius: 0.3rem;
	position: absolute;
	left: 10px;
	top: 10px;
}

#titulo {
    color: #cacaca;
}

footer {
    background-color: #000000;
}

.carousel-inner, h1 {
    color: #fff
}

.carousel-inner, h2 {
    color: rgba(255, 255, 255, 0.807)
}