:root {
    --fontmain: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 27%;
    background-image: url(../images/wallpapers/cinema1.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; /* es para que no se repita la imagen cuando no llega a cubrir todo el tamaño, pero si le damos un background-size: cover; esto se soluciona, porque pasa a expandirse y ocupar todo el tamaño que pueda */
    background-position: center;
    background-attachment: fixed; /* efecto */
}

#header_inicio {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

body {
    font-family: var(--fontmain);
}

nav {
    height: 5rem;
}

/*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*  */ /*  */ /*  */
/*  */  /* CAMBIAR FONT */  /*  */
/*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*  */ /*  */ /*  */

.navbar {
    background-color: #111;
}

.slide img {
    height: 65vh;
}

.carousel-inner {
    text-align: center;
}

#section_blog {
    background-color: #0f0c0c;
}

#ranking {
    height: 50px;
    margin-bottom: 2px;
    padding-top: 4px;
}

.card { 
    width: 100%;
    padding-block-end: 1.75rem;
    background-color: transparent;
} 

.badge { 
    position: absolute; 
    top: 2%; 
    right: 0%;
    width: 10%;
    height: 8%;
} 

#puntaje {
    font-size: 13px;
	color: #ffffff;
	background: #be9063;
	padding: 2px 12px;
	border-radius: 4px;
	position: absolute;
	right: 10px;
	top: 10px;
}