:root {
    --fontmain: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 27%;
    background-image: url(../images/wallpapers/cinema1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* efecto */
}

#header_inicio {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#brand {
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 238, 0), 0 0 5px rgb(0, 0, 0);
}

.search-bar {
    margin-left: 12rem;
    width: 28rem;
}

.form-control {
    border: 1px solid #313131;
    margin-right: 1px;
}

body {
    font-family: var(--fontmain);
    text-shadow: -1px 1px 4px #000000;
    background-color: #000000;    
}

nav {
    height: 5rem;
}

.navbar {
    background-image: url(../images/wallpapers/cinema1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.slide img {
    height: 65vh;
}

.carousel-inner {
    text-align: center;
}

.content {
    background-image: url(../images/wallpapers/cinema1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.ranking-header h2 {
    text-shadow: 1px 1px 2px #ffffff6b, 0 0 25px rgb(255 242 56), 0 0 5px rgb(149 196 41);
    
    width: 18%;
    margin: auto; /* alineación centro */
    margin-top: 3rem;
    margin-bottom: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #cacaca;
    
    background-image: url(../images/wallpapers/cinema1.jpg);
    backdrop-filter: blur(5px);

}

.ranking-header h2::before {
    content: "";
    position: absolute;
    z-index: -1;

    background-image: url(../images/wallpapers/cinema1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
    

.ranking-body:hover img {
    box-shadow: -2px 4px 10px 8px rgba(255, 255, 255, 0.217);
}

.img-fluid {
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 69%);
    transition: .3s ease-out;
}

#puntaje {
    color: #cacaca;
    background-image: linear-gradient(#6b0808ab, #6b0808, #6b0808ab);
    width: 3rem;
    height: 1.5rem;
	border-radius: 0.3rem;
	position: absolute;
	right: 10px;
	top: 10px;
}

#cant_criticas {
    color: rgba(255, 255, 255, 0.742);
	border-radius: 0.3rem;
	position: absolute;
	left: 10px;
	top: 10px;
}

#titulo {
    color: #cacaca;
}

footer {
    height: 6rem;
    background-color: #000000;
    /* border-top: 0.1rem solid #161616; */
}

/* -------------------------------------------------- */

.carousel-inner, h1 {
    color: #fff;
    text-shadow: -2px 2px 2px #000000;
}

.carousel-inner, h2 {
    color: rgba(255, 255, 255, 0.807);
    text-shadow: -2px 2px 2px #000000;
}

/* -------------------------------------------------- */

.peliculas-content .pelicula-img:hover img {
    box-shadow: -2px 4px 10px 8px rgba(255, 255, 255, 0.217);
}


.peliculas-content .pagination .page-link {
    background-color: #282828;
    border-color: #ffe600;
}

.peliculas-content .pagination a {
    color: sandybrown;
}

.peliculas-content .pagination a:hover {
    color: #ffe600;
}

.peliculas-content .pagination span {
    color: #ffe600;
}

/* -------------------------------------------------- */

.directores-body, a {
    color: rgba(255, 255, 255, 0.807);
    text-shadow: -2px 2px 2px #000000;
}

.directores-body a:hover {
    color: rgba(255, 255, 255, 0.483);
    text-shadow: -2px 2px 2px #000000;
}

.directores-body img {
    max-width: 150px;
    max-height: 150px;
}

/* -------------------------------------------------- */

.actores-table thead {
    background-color: #111111;
    color: #ffffff;
}

.table > :not(:first-child) {
    border-top: 2px solid #848484;
}

.actores-table tbody {
    background-color: #181818eb;
    border-color: rgb(86, 86, 86);
    border-style: solid;
    border-width: 0;
}

.actores-table img {
    width: 48px;
    height: 48px;
}

.actores-table a {
    color: rgba(255, 255, 255, 0.807);
    text-shadow: -2px 2px 2px #000000;
}

.actores-table a:hover {
    color: rgba(255, 255, 255, 0.483);
    text-shadow: -2px 2px 2px #000000;
}

/* -------------------------------------------------- */

.pelicula-detalle {
    line-height: 30px;
}

.pelicula-detalle .img-profile {
    width: 28px;
    height: 28px;
    border-radius: 5rem;
}

.puntaje-detalle-pelicula {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

.puntaje-detalle-pelicula i {
    font-size: 20px;
    color: #ffe600;
}

.puntaje-detalle-pelicula .span-puntaje-1 {
    font-size: 20px;
    color: #ffffff;
}

.puntaje-detalle-pelicula .span-puntaje-2 {
    font-size: 16px;
    font-weight: lighter;
    color: #a3a3a3;
}

.puntaje-detalle-pelicula .span-votos {
    font-size: 14px;
    font-weight: lighter;
    color: #a3a3a3;
}

.pelicula-detalle ul li {
	list-style: none;
	color: #ffffff;
	position: relative;
	padding-left: 18px;
}

.pelicula-detalle ul li:before {
	position: absolute;
	left: 0;
	top: 12px;
	height: 6px;
	width: 6px;
	background: #b7b7b7;
	content: "";
}

.pelicula-detalle ul li span {
	color: #b7b7b7;
}

.pelicula-detalle .comentario {
    border-top: 0.1rem solid #161616;
    border-bottom: 0.1rem solid #161616;
}

#talkbubble {
    background: rgba(69, 69, 69, 0.556);
    position: relative;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

#talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid rgba(69, 69, 69, 0.350);
    border-bottom: 13px solid transparent;
}