{% extends 'index.html' %} <!-- Heredo-->
{% load static %}

{% block page_content %}
<!-- Page Content-->
<div class="content">
    <div class="container px-5">
        <!-- Titulo -->
        <div class="text-center mb-5 pt-5">
            <h2 class="fw-bolder text-light">Actores</h2>
        </div>
        <!-- Catálogo -->
        <table class="actores-table table table-hover ">    
            <thead>
                <tr>
                    <th scope="col">Foto</th>
                    <th scope="col">Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for a in actores %}
                <tr>
                    <td><img class="rounded-3" src="{{ a.foto.url }}" alt="..." /></td>
                    <td><a class="fw-bolder text-decoration-none link-dark " href="{{ p.foto.url }}">{{ a.nombre }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock page_content %}