{% extends 'index.html' %}
{% load static %}

{% block title_win %}<title>Detalle Actor: {{ actor.nombre }}</title>{% endblock title_win %}

{% block page_content %}
<div class="content">
    <div class="container mt-5 mb-5">
        <div class="pelicula-detalle text-light">
            
            <div class="row">
                <div class="col-3">
                    <img class="img-listado" src="{{ actor.foto.url }}" alt="">
                </div>
                <div class="col-9">
                    <h3>{{ actor.nombre }}</h3>
                    <p>{{ actor.biografia }}</p>
                    <div class="col-12">
                        <ul>
                            <li><span>Nacimiento: </span>{{ director.nacimiento }}</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <ul>
                            <li><span>Nacionalidad: </span>{{ director.nacionalidad }}</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <ul>
                            <li><span>Peliculas: </span></li>
                        </ul>
                    </div>
                    <div class="row">
                        {% for p in peliculas %}
                        <div class="col-2">
                            <div class="pelicula-img position-relative mb-5 text-center">
                                <img class="img-fluid rounded-3 mb-3" src="{{ p.foto.url }}" alt="..." />
                                <a id="titulo" class="fw-bolder text-decoration-none link-dark stretched-link" href="{% url 'pelicula-detalle' pk=p.id %}">{{ p.nombre }}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}