{% extends 'index.html' %}
{% load static %}

{% block title_win %}<title>Detalle Pelicula: {{ pelicula.nombre }}</title>{% endblock title_win %}

{% block page_content %}
<div class="content">
    <div class="container mt-5 mb-5">
        <div class="pelicula-detalle text-light">
            
            <div class="row">
                <div class="col-3">
                    <img class="img-fluid rounded-3" src="{{ pelicula.foto.url }}" alt="">
                </div>
                <div class="col-9">
                    <h3 class="pb-2 puntaje-detalle-pelicula">
                        {{ pelicula.nombre }}
                        <i class="fa fa-star"></i>
                        <span class="span-puntaje-1"> {{ pelicula.puntaje }}</span><span class="span-puntaje-2">/5 </span> 
                        <span class="span-votos">- Votos ({{ pelicula.cant_criticas }}) </span>
                    </h3>

                    <p>{{ pelicula.resumen }}</p>
                    <div class="row">
                        <ul>
                            <li><span>Lanzamiento: </span>{{ pelicula.lanzamiento }}</li>
                            <li><span>Director: </span><a class="" href="{% url 'director-detalle' pk=pelicula.director.id %}">{{ pelicula.director }}</a> ◦</li>
                            <li><span>Actores: </span>                                     
                                {% for a in actores %}
                                <a class="" href="{% url 'actor-detalle' pk=a.id %}">{{ a.nombre }}</a> ◦ 
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    {% include 'criticas.html' %}
                </div>
                <div class="col-4">
                    {% include 'criticas_form.html' %}
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock page_content %}