{% extends 'index.html' %} <!-- Heredo-->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <!-- Mi estilo CSS (funciona en cascada, sale lo último que se modifica, o sea puedo modificar cosas de styles.css y ganar) -->
    <link href="{% static 'css/main.css'%}" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        {% block page_content %}
        <!-- Page Content-->
        <section id="section_blog" class="py-5">
            <div class="container px-5 my-5">
                <!-- Titulo -->
                <div class="text-center mb-5">
                    <h2 class="fw-bolder text-light bg-dark">Peliculas</h2>
                    <p class="lead fw-normal text-muted">Catálogo completo</p>
                </div>
                <!-- Catálogo -->
                <div class="row gx-5">
                    {% for p in peliculas %}
                    <div class="col-lg-2">
                        <div class="position-relative mb-5 text-center">
                            <img class="img-fluid rounded-3 mb-3" src="{{ p.foto.url }}" alt="..." />
                            <a class=" fw-bolder text-muted text-decoration-none link-dark stretched-link" href="{{ p.foto.url }}">{{ p.nombre }}</a>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>
    </main>
    {% endblock page_content %}

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>

